<div class="container my-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos qui magnam, cupiditate iusto rerum quo eligendi explicabo quasi! Dolorum at nisi maiores porro assumenda voluptatum culpa mollitia obcaecati, cupiditate voluptatem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis inventore sequi numquam voluptates non? Iusto, id exercitationem ipsam minus cumque cum nobis, labore, provident ad laborum dignissimos eos doloremque sed.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ducimus est ullam. Quasi earum veniam, exercitationem debitis quo expedita ducimus magni ratione cum pariatur deleniti adipisci facilis ad molestias recusandae?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe laboriosam, excepturi dicta, cum illum aliquid temporibus animi a cupiditate voluptas ad omnis harum doloremque? Quia cumque laudantium omnis sit.
        <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ducimus est ullam. Quasi earum veniam, exercitationem debitis quo expedita ducimus magni ratione cum pariatur deleniti adipisci facilis ad molestias recusandae?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe laboriosam, excepturi dicta, cum illum aliquid temporibus animi a cupiditate voluptas ad omnis harum doloremque? Quia cumque laudantium omnis sit.
        <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore ducimus est ullam. Quasi earum veniam, exercitationem debitis quo expedita ducimus magni ratione cum pariatur deleniti adipisci facilis ad molestias recusandae?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe laboriosam, excepturi dicta, cum illum aliquid temporibus animi a cupiditate voluptas ad omnis harum doloremque? Quia cumque laudantium omnis sit.
    </p>
</div>